### Numpy where()

In [0]:
# Importing libraries with an alias
import pandas as pd
import numpy as np

In [0]:
# Creating a DataFrame to use WHERE
df = pd.DataFrame({'user_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                  'app_accesses': [9, 34, None, None, 727, None, 1, 22, None, None, None],
                  'web_accesses': [None, 9834, 1, 19, 99, 102, None, None, 21, 87, None]})
df

,user_id,app_accesses,web_accesses
0,1,9.0,NaN
1,2,34.0,9834.0
2,3,NaN,1.0
3,4,NaN,19.0
4,5,727.0,99.0
5,6,NaN,102.0
6,7,1.0,NaN
7,8,22.0,NaN
8,9,NaN,21.0
9,10,NaN,87.0
10,11,NaN,NaN

In [0]:
# Using numpy.where() function to create a new column "has_app" (where app_accesses > 0)
df['has_app'] = np.where(df.app_accesses > 0,
                         True,
                         False)
df

,user_id,app_accesses,web_accesses,has_app
0,1,9.0,NaN,True
1,2,34.0,9834.0,True
2,3,NaN,1.0,False
3,4,NaN,19.0,False
4,5,727.0,99.0,True
5,6,NaN,102.0,False
6,7,1.0,NaN,True
7,8,22.0,NaN,True
8,9,NaN,21.0,False
9,10,NaN,87.0,False
10,11,NaN,NaN,False

In [0]:
# Using numpy.where() function to create a new column "web" (where web_accesses > 0)
df['has_web'] = np.where(df.web_accesses > 0,
                         True,
                         False)
df

,user_id,app_accesses,web_accesses,has_app,has_web
0,1,9.0,NaN,True,False
1,2,34.0,9834.0,True,True
2,3,NaN,1.0,False,True
3,4,NaN,19.0,False,True
4,5,727.0,99.0,True,True
5,6,NaN,102.0,False,True
6,7,1.0,NaN,True,False
7,8,22.0,NaN,True,False
8,9,NaN,21.0,False,True
9,10,NaN,87.0,False,True
10,11,NaN,NaN,False,False

In [0]:
# Using numpy.where() function to create a new column "app_and_web" (where has_app and has_web is true)
df['app_and_web'] = np.where((df.has_app == True) & (df.has_web == True),
                             True,
                             False)
df

,user_id,app_accesses,web_accesses,has_app,has_web,app_and_web
0,1,9.0,NaN,True,False,False
1,2,34.0,9834.0,True,True,True
2,3,NaN,1.0,False,True,False
3,4,NaN,19.0,False,True,False
4,5,727.0,99.0,True,True,True
5,6,NaN,102.0,False,True,False
6,7,1.0,NaN,True,False,False
7,8,22.0,NaN,True,False,False
8,9,NaN,21.0,False,True,False
9,10,NaN,87.0,False,True,False
10,11,NaN,NaN,False,False,False

In [0]:
# Using numpy.where() function to create a new column "app_or_web" (where has_app or has_web is true)
df['app_or_web'] = np.where((df.has_app == True) | (df.has_web == True),
                             True,
                             False)
df

,user_id,app_accesses,web_accesses,has_app,has_web,app_and_web,app_or_web
0,1,9.0,NaN,True,False,False,True
1,2,34.0,9834.0,True,True,True,True
2,3,NaN,1.0,False,True,False,True
3,4,NaN,19.0,False,True,False,True
4,5,727.0,99.0,True,True,True,True
5,6,NaN,102.0,False,True,False,True
6,7,1.0,NaN,True,False,False,True
7,8,22.0,NaN,True,False,False,True
8,9,NaN,21.0,False,True,False,True
9,10,NaN,87.0,False,True,False,True
10,11,NaN,NaN,False,False,False,False

### Pandas apply()

In [0]:
# Importing pandas with an alias
import pandas as pd

In [0]:
# Creating a DataFrame
df = pd.DataFrame({'product_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                   'name': ['Shirt', 'Refrigerator', 'Pants', 'Stove', 'Encyclopedia', 'Bible', 'Perfume', 'Socks', 'Microwave', 'TV']})
df

,product_id,name
0,1,Shirt
1,2,Refrigerator
2,3,Pants
3,4,Stove
4,5,Encyclopedia
5,6,Bible
6,7,Perfume
7,8,Socks
8,9,Microwave
9,10,TV

In [0]:
# Creating the column "category" using pandas.apply() function to apply a lambda function to each element of the column "name"
df['category'] = df['name'].apply(lambda x: 'Home Appliance' if x in ['Refrigerator', 'Stove', 'Microwave', 'TV'] else ('Clothing' if x in ['Shirt', 'Pants', 'Socks'] else ('Book' if x in ['Encyclopedia', 'Bible'] else 'Other')))
df

,product_id,name,category
0,1,Shirt,Clothing
1,2,Refrigerator,Home Appliance
2,3,Pants,Clothing
3,4,Stove,Home Appliance
4,5,Encyclopedia,Book
5,6,Bible,Book
6,7,Perfume,Other
7,8,Socks,Clothing
8,9,Microwave,Home Appliance
9,10,TV,Home Appliance