## Libraries

In [0]:
# Importing pandas and pandasql with aliases
import pandas as pd
from pandasql import sqldf

## Loading data

In [0]:
# Loading categories.csv file
categories = pd.read_csv('../../data/categories.csv')
categories

,id,name
0,0,Moda e Acessórios
1,1,Cosméticos e Perfumaria
2,2,Eletrodomésticos
3,3,Livros
4,4,Celulares
5,5,Informática
6,6,Casa e Decoração
7,7,Eletrônicos
8,8,Esporte e Lazer
9,9,Brinquedos e Games

In [0]:
# Loading products.csv file
products = pd.read_csv('../../data/products.csv')
products

,id,name,price,category_id
0,0,Sapato,96,0
1,1,Bolsa,21,0
2,2,Calça,75,0
3,3,Camisa,70,0
4,4,Vestido,57,0
5,5,Perfume,29,1
6,6,Creme de Barbear,15,1
7,7,Hidratante,10,1
8,8,Shampoo,15,1
9,9,Protetor Solar,11,1
10,10,Geladeira,1952,2
11,11,Fogão,1373,2
12,12,TV,1992,2
13,13,Máquina de Lavar,1826,2
14,14,Máquina de Secar,1774,2
15,15,O Romance Exagerado,46,3
16,16,Suspense Demais,42,3
17,17,Terror Aterrorizante,45,3
18,18,A Comédia Engraçada,20,3
19,19,A História de SQL,23,3
20,20,Ai-Fone,1720,4
21,21,Galáxia R10,2007,4
22,22,Chiai-homi,1152,4
23,23,Ruaei,2795,4
24,24,Nóquia,2663,4
25,25,Mouse,144,5
26,26,Teclado,53,5
27,27,Pen-Drive,136,5
28,28,Impressora,186,5
29,29,HD Externo,110,5
30,30,Poltrona,110,6
31,31,Almofada,170,6
32,32,Cadeira,164,6
33,33,Sofá,111,6
34,34,Mesa,143,6
35,35,Video-Game,602,7
36,36,Máquina Fotográfica,377,7
37,37,Notebook,493,7
38,38,PC,385,7
39,39,Secador de Cabelo,580,7
40,40,Chuteira,128,8
41,41,Tornozeleira,61,8
42,42,Raquete,97,8
43,43,Bola,103,8
44,44,Pebolim,82,8
45,45,Futebol 2020,36,9
46,46,Iôiô,16,9
47,47,Peão,32,9
48,48,Bey-Blade,55,9
49,49,Casinha de Boneca,39,9

## Combining information from datafames using SQL

In [0]:
# Creating a SQL query to gather our dataframes and using sqldf() function to execute it
query = """

    SELECT 
        p.id as product_id,
        p.name as product_name,
        p.price,
        c.name as category_name
    FROM products p
    JOIN categories c on c.id = p.category_id
    
    """

result = sqldf(query)
result

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-8960849113777723>:13
      1 query = """
      2
      3     SELECT
   (...)
     10
     11     """
---> 13 result = sqldf(query, globals())
     14 result

File /local_disk0/.ephemeral_nfs/envs/pythonEnv-9ff15d0e-709d-4248-8817-cb9754c79317/lib/python3.9/site-packages/pandasql/sqldf.py:156, in sqldf(query, env, db_uri)
    124 def sqldf(query, env=None, db_uri='sqlite:///:memory:'):
    125     """
    126     Query pandas data frames using sql syntax
    127     This function is meant for backward compatibility only. New users are encouraged to use the PandaSQL class.
   (...)
    154     >>> sqldf("select avg(x) from df;", locals())
    155     """
--> 156     return PandaSQL(db_uri)(query, env)

File /local_disk0/.ephemeral_nfs/envs/pythonEnv-9ff15d0e-709d-4248-8817-cb9754c79317/lib/python3.9/site-packages/pandasql/sqldf.py:58, in PandaSQL.__call__(self, query, env)
     56         continue
     57     self.loaded_tables.add(table_name)
---> 58     write_table(env[table_name], table_name, conn)
     60 try:
     61     result = read_sql(query, conn)

File /local_disk0/.ephemeral_nfs/envs/pythonEnv-9ff15d0e-709d-4248-8817-cb9754c79317/lib/python3.9/site-packages/pandasql/sqldf.py:120, in write_table(df, tablename, conn)
    117 with catch_warnings():
    118     filterwarnings('ignore',
    119                    message='The provided table name \'%s\' is not found exactly as such in the database' % tablename)
--> 120     to_sql(df, name=tablename, con=conn,
    121            index=not any(name is None for name in df.index.names))

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pandas/io/sql.py:708, in to_sql(frame, name, con, schema, if_exists, index, index_label, chunksize, dtype, method, engine, **engine_kwargs)
    705 if if_exists not in ("fail", "replace", "append"):
    706     raise ValueError(f"'{if_exists}' is not valid for if_exists")
--> 708 pandas_sql = pandasSQL_builder(con, schema=schema)
    710 if isinstance(frame, Series):
    711     frame = frame.to_frame()

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pandas/io/sql.py:788, in pandasSQL_builder(con, schema, meta, is_cursor)
    786 con = _engine_builder(con)
    787 if _is_sqlalchemy_connectable(con):
--> 788     return SQLDatabase(con, schema=schema, meta=meta)
    789 elif isinstance(con, str):
    790     raise ImportError("Using URI string without sqlalchemy installed.")

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pandas/io/sql.py:1410, in SQLDatabase.__init__(self, engine, schema, meta)
   1407 if not meta:
   1408     from sqlalchemy.schema import MetaData
-> 1410     meta = MetaData(self.connectable, schema=schema)
   1412 self.meta = meta

TypeError: __init__() got multiple values for argument 'schema'