### Lists definition: is an object represented by a sequence of other objects. These objects are separated by commas and begin and end with square brackets ([x, y, z])

#### Creating lists

In [34]:
# Simple statement
lst1 = [1, 2, 3] 
print(lst1)
type(lst1)

[1, 2, 3]

list

In [35]:
# Using list() function, receiving a tuple
lst2 = list((1, 2, 3))
print(lst2)

[1, 2, 3]

In [36]:
# Using list() function, receiving a list
lst3 = list([1, 2, 3])
print(lst3)

[1, 2, 3]

In [37]:
# Using list() function, receiving a string
lst4 = list("123")
print(lst4)

['1', '2', '3']

In [38]:
# Using FOR loop
lst5 = []
for element in range(4):
    if element != 0:
        lst5.append(element)
print(lst5)

[1, 2, 3]

In [46]:
# Listing different types of data
lst6 = ['a', 2, 4, 'C']
print(lst6)

['a', 2, 4, 'C']

In [30]:
# Including a list in a list
lst7 = [1, [2, 3], 'w']
print(lst7)

[1, [2, 3], 'w']

In [31]:
# Including a tuple in a list
lst8 = [1, (2, 3)]
print(lst8)

[1, (2, 3)]

#### Acesssing list values

In [43]:
# Using the needed index to an int
print(lst7[0])

1

In [44]:
# Using the needed index to a list
print(lst7[1])

[2, 3]

In [45]:
# Using the needed index to a string
print(lst7[2])

w

In [51]:
# Using the needed index of the list inside the list
lst7[1][1]

3

#### Gathering lists

In [58]:
# Gathering as a sum
lst9 = lst7 + lst8
print(lst9)

[1, [2, 3], 'w', 1, (2, 3)]

In [60]:
# Multiplying the same list
lst10 = lst6*3
print(lst10)

['a', 2, 4, 'C', 'a', 2, 4, 'C', 'a', 2, 4, 'C']

#### Verifying if an object belongs to the list

In [61]:
"A" in lst6

False

In [62]:
"a" in lst6

True

#### Methods

In [91]:
# Using len() to get the list's length
lst = [1, 2, 3, 4, 5]
length = len(lst)
print(length)

5

In [64]:
# Using pop() to remove the last object of the list
lst11 = [1, 2, 3, 4, 5]
print(lst11)
lst11.pop()
print(lst11)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [65]:
# Using pop() with an index to remove the needed object of the list
lst12 = [1, 2, 3, 4, 5]
print(lst12)
lst12.pop(2)
print(lst12)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [67]:
# Using remove() with the object to remove it from the list
lst13 = [1, 2, 3, "a", "A"]
print(lst13)
lst13.remove('a')
print(lst13)

[1, 2, 3, 'a', 'A']
[1, 2, 3, 'A']

In [77]:
# Using sort() to sort from smallest to largest, or sort in alphabetical order
lst14 = [3, 9, 1, 0, 3, 10, 4, 6]
print(lst14)
lst14.sort()
print(lst14)

lst15 = ["z", "c", "i", "b", "l", "a"]
print(lst15)
lst15.sort()
print(lst15)

[3, 9, 1, 0, 3, 10, 4, 6]
[0, 1, 3, 3, 4, 6, 9, 10]
['z', 'c', 'i', 'b', 'l', 'a']
['a', 'b', 'c', 'i', 'l', 'z']

In [79]:
# Using sort(reverse = True) to sort the reverse of sort()
lst16 = [3, 9, 1, 0, 3, 10, 4, 6]
print(lst16)
lst16.sort(reverse = True)
print(lst16)

lst17 = ["z", "c", "i", "b", "l", "a"]
print(lst17)
lst17.sort(reverse = True)
print(lst17)

[3, 9, 1, 0, 3, 10, 4, 6]
[10, 9, 6, 4, 3, 3, 1, 0]
['z', 'c', 'i', 'b', 'l', 'a']
['z', 'l', 'i', 'c', 'b', 'a']

In [2]:
# Using sort(key = X) to sort with a function
lst18 = ["Ford", "Mitsubishi", "BMW", "VW"]
print(lst18)
lst18.sort(key = len)
print(lst18)

['Ford', 'Mitsubishi', 'BMW', 'VW']
['VW', 'BMW', 'Ford', 'Mitsubishi']

In [90]:
# Using count() to count the number of appearances of the needed object
lst19 = [1, 2, 3, 1, 4, 1, 3, 5]
quantity1 = lst19.count(1)
print(quantity1)

lst20 = ["Apple", "Banana", "Apple", "Orange"]
quantity2 = lst20.count("Apple")
print(quantity2)

3
2